@using HelperLand;
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/css/Customer_Service_history.css")" rel="stylesheet" type="text/css" />
}
<div>
    <div class="middle_name">
        <span>Welcome</span>
    </div>


    <div class="main_area" style="width: 80%; height: 750px; margin-left: 5%; display: table; ">
        <div class="sidenav" style="width:15%; height: 100%; background-color: #1d7a8c; display: table-cell;">

            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>



        <div>


            @RenderBody()

        </div>
    </div>
</div>