* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    line-height: 1.6;
  }

  
  .container {
    margin: 0 auto;
    overflow: auto;
    padding: 0px 40px;
  } 
  

  h1,
  h2 {
    font-weight: 300;
    line-height: 1.2;
   padding: 1%;

    text-align: left;
    font-family: Roboto;
        font-size: 36px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.67;
        letter-spacing: normal;
        color:white;

  }

  .header{
      background-color: #1fb6ff;
      height: 6%;
      color: white;
      flex-direction: row;
  }

  .header_right{
      position: relative;
      float: right;
      margin-top: -50px;
      flex-direction: row;
      display: flex;
      padding: auto;
      margin-right: 5%;
      margin-left: 10%;
      margin-bottom: 10px;
  }


  .list_item{
    font-size: 20px;
    color: #555;;
    margin-left: 5%;    
    margin-top: 10%;
}
.center_table{
    margin-left: 5%;
}
.table_heading{
    color:#646464;
    padding: 2px;
}

.line{
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: #555;
}

.cancel_btn{
    border-radius: 5px;
    background-color:#1fb6ff;
    color: white;
    width: 150px;
  height: 34px;
  margin: 16px 21px 15px 85px;
  }

  .search_btn{
    border-radius: 5px;
    background-color:#1fb6ff;
    color: white;
    width: 5%;
  height: 46px;
 
  }


  .clear_btn{
    border-radius: 5px;
    width: 5%;
    color: #555;
  height: 46px;

  }

  tbody{
    align-items: center;
    align-content: center;
  }
.table_row{
    align-self:center;
    align-content: center;
    color: #646464;
    margin-left: 5px;
    border-bottom: solid  1px #646464 ;
    padding: 20px;
}

.form{
    padding-top:  20px;
   width: 100%;
  height: 86px;
  margin-top: 1%;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;

}

.form select{
    width: 18%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #DEDDDD;
    color: #a0a0a0;
    margin-left: 2%;
}

.form input{
    width: 18%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #DEDDDD;
    border-radius: 4px;
    margin-left: 2%;
}

.active_btn{
    width: 58px;
  height: 24px;
    color: white;
 
  background-color: #67b644;
}

.inactive_btn{
    width: 58px;
  height: 24px;
    color: white;
 
  background-color: red;
}

.center_table table{
    border-collapse: collapse;
}

.center_table table tr{
    border-bottom: 1pt solid #555;
    padding: 3%;
}

footer p {color: #A2A6A8; font-size: 14px; margin-left: 5%;}
