*{
    margin:0%;
    padding: 0%;
} 

.main {
    background-image: url('background.png');
    
 
    width: 1560px;
    height: 930px;  
    align-self: start;  
  }

  .text-white{
    text-align: center;
    color: #ffff;
    font-family :Roboto;
  }
  img.white_logo_transparent_background {
    margin-top: 10px;
    margin-left: 17px;
    width: 100px;
    height: 130px;
    background: transparent url('img/white-logo-transparent-background.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

  .Rounded-Rectangle-Login {
    width: 97px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: solid 1px #ffff;
    background-color: var(--white);
  }

  .Rounded-Rectangle-Book {
    width: 161px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: solid 1px #ffff;
    background-color: var(--white);
  }

  .Rounded-Rectangle-Became {
    width: 161px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: solid 1px #ffff;
    background-color: var(--white);
  }
  
  

  .dropdown{
    width: 13px;
    height: 10px;
    float: left;
    
  }


  .content1{
    margin-top: 150px;
margin-left: 55px;
width: 399px;
height: 172px;
opacity: 1
  }

  .text{
    top: 175px;
    left: 55px;
    width: 392px;
    height: 61px;
    font-family: Roboto-Medium;
    size:50px;
    text-align: center;
    letter-spacing: normal;
    color: #FFFFFF;
    opacity: 1
  }

  .tick1{
    width: 13px;
    height: 10px;
    margin: 24px 12px 15px 42px;
    object-fit: contain;
    background-color: var(--white);
    background-image: url('img/forma-1-copy-10.png');
  }
  .text1{
    width: 362px;
    top:77px;
    height: 10px;
    margin: 24px 119px 15px 13px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffff;
  }


  .rounded-button{
    width: 225px;
  height: 54px;
  margin: 16px 7px 157px 0;
  margin-left: 700px;
  padding: 18px 33px 22px 31px;
  opacity: 0.6;
  border-radius: 27px;
  background-color:#006072;
  border:solid 1px #FFFFFF;
  }

  .Lets-Book-a-Cleaner-copy {
    width: 161px;
    height: 14px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align:center;
    color:#FFFFFF;  
  }
  
  

.step1{
    width: 52px;
  height: 55px;
 
  top: 696px;
  margin-left: 312px;
  object-fit: contain;
  opacity: 1;
 }
 
 .arrow1{
  width: 85px;
  height: 23px;
  margin-left:83px;
  object-fit: contain;
  
}

.step2{
  width: 52px;
height: 55px;
top: 696px;
margin-left: 83px;
object-fit: contain;
opacity: 1;
}

.Enter-your-postcode {
  width: 177px;
  height: 19px;
  
  margin-left: 241px;
  top: 800px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
   color:white;
}

.Select-your-plan {
  width: 142px;
  height: 24px;
  margin-left: 175px;
  
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color:white;
}

.Why-Helperland {
  width: 153px;
  height: 38px;
 
  margin-left:  703px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;
}

.row{
  top: 1140px;
left: 226px;
margin-top: 209px;
width: 1119px;
height: 570px;
opacity: 1;
}

.card-image{
  width: 320px;
height: 320px;
opacity: 1;
}


.card{
  width: 321px;
  height: 321px;
  margin: 84px 70px 38px 228px;
  padding: 0.5px;
}
.card-title{
  width: 274px;
  height: 73px;

  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #565656;
}

.card-text{
    width: 286px;
    height: 64px;
 
    font-family: Roboto;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: center;
    color: #565656;
  }


  .background{
    top: 1816px;
  left: 0px;
width: 1560px;
height: 1000px;
opacity: 1;

  }
.circle-family{
  width: 240px;
  height: 240px;

}

img.Group-36 {
  width: 403px;
  height: 337px;  
  margin-left: 300px;
  object-fit: contain;
}

.grey-text{
  width: 200px;
  height: 59px;
  margin-left: 200px;
  margin-top:  300px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color:#4f4f4f;    
}

.grey-text2{
   width: 600px;
height: 300px;
margin-left: 200px;
text-align:left;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
  color: greyish-brown;
}

.rounded-rectangle{
width: 1560px;
  height: 929px;
  background-color: #fff;
}

.our-blog{
  width: 153px;
  height: 38px;
 
  margin-left:  703px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;
}

.Rounded-Rectangle-583{
  width: 357px;
  height: 367px;
  margin: 50px 45px 43px 48px;
  padding: 0 50px;
  margin-left: 200px;
  margin-top: 50px;
  padding: 0 0 31px;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 #e4ebf0;
  background-color: #fff;
}

.date{
  
  width: 99px;
  height: 12px;
  margin: 7px 23px 14px 19px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a3a3a3;
}

.Read-the-Post {
  width: 110px;
  height: 14px;
  
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;
}

.Shape-2 {
  width: 29px;
  height: 10px;
  
  background-color:#4f4f4f;
}

.blog-image{
  width: 357px;
  height: 164px;
  margin: 0 0 20px;
  padding: 0 50px;
  object-fit: contain;
}

.Lorem-ipsum-dolor-sit-amet {
  width: 246px;
  height: 19px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #3d4046;
}

.Rectangle-10 {
  width: 1560px;
  height: 908px;
 
  padding: 65px 0 0;
  background-color: #f4f5f8;
}

.What-Our-Customers-Say {
  width: 449px;
  height: 38px;
  margin: 0 423px 59px 437px;
  margin-left: 555px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;
}

.Lary{
    width: 357px;
    height: 370px;
    margin: 59px 70px 42px 228px;
    margin-left: 210px;
    padding: 0 19px 0 0;
    border-radius: 4px;
    border-left: solid 3px #1d7a8c;
    box-shadow: 0 0 30px 0 #bac2c7;
    background-color: #fff;
  }
 
  
.customer-image{
  width: 70px;
  height: 66px;
  margin-left: 35px;
  margin-top: 50px;
}

.customer-name{
    width: 110px;
    height: 18px;
   
    margin-left: 20px;
    margin-top: 80px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #4f4f4f;
  }

  .Manchester {
    width: 74px;
    height: 11px;
    
    margin-top: 86px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: right;
    color: #8e8e8e;
  }



  .GET-OUR-NEWSLETTER {
    width: 190px;
    height: 13px;
    margin: 55px 126px 20px 128px;
    margin-left: 686px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #353548;
  }

  .Rounded-Rectangle-649 {
    width: 333px;
    height: 40px;
    margin: 20px 11px 53px 56px;
    padding: 14px 131px 16px 22px;
    margin-left: 641px;

    border-radius: 20px;
    border: solid 1px #565656;
    background-color: #f4f5f8;
  }

  .Rounded-Rectangle-649-copy {
    width: 88px;
    height: 40px;
    margin: 20px 56px 53px 11px;
    padding: 13px 21px 16px 23px;
    text-align: center;
    border-radius: 20px;
    background-color: #ff7b6d;
  }
  .Layer-598 {
    width: 63px;
    height: 63px;
  
    margin: 42px 70px 76px 68px;
    margin-left: 1427px;
    top: 3319px;
    object-fit: contain;
  }
  .Footer {
    width: 1560px;
    height: 195px;
    margin: 53px 0 0;
    padding: 27px 0 0;
    background-color: #111;
  }

  .footer-logo{
    width: 106px;
    height: 78px;
    margin: 0 262px 26px 122px;
    object-fit: contain;
  
  }

  .Home-About-Testimonials-FAQs-In {
    width: 575px;
    height: 12px;
    margin: 38px 323px 54px 262px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #f1f1f1;
  }

  .facebook{
    top: 3519px;
    left: 1388px;
    width: 9px;
    height: 18px;
   
    opacity: 1;

  }
  .instagram{
    top: 3519px;
left: 1417px;
margin-left: 20px;
width: 20px;
height: 20px;

opacity: 1;
  }

  .Rectangle-12-copy {
    width: 1560px;
    height: 64px;
    margin: 0px 0 0;
    padding: 0 15px 12px 120px;
    opacity: 0.8;
    background-color: #292929;
  }

  .footer-text{
    width: 775px;
    height: 14px;
    margin: 35px 280px 12px 271px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #f1f1f1;
  }
 
  .ok-btn{
    width: 99px;
    height: 40px;
    margin: 11px 0 0 6px;
    padding: 13px 37px 15px;
    border-radius: 20px;
    text-align: justify;
    background-color: #eed507;
  }