* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    line-height: 1.6;
  }

  
  .container {
    margin: 0 auto;
    overflow: auto;
    padding: 0px 40px;
  } 
  

  h1,
  h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    text-align: center;
    font-family: Roboto;
        font-size: 36px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.67;
        letter-spacing: normal;
        color:#4f4f4f;

  }
.image-banner{
    height:370px;
    width:100%;
    margin-top: -5px;
    object-fit: contain;
    
}

.center-line{
  width: 62px;
  height: 1px;
  margin: 3% 2% 5.5% 2%;
  background-color: #ccc;
}

.center-img{
  width: 24px;
height: 25px;
margin: 18px 8px 42px;
}


.few-words{
    width:80%;
    margin-left: 10%;
    margin-top: 50px;
    align-self:center;
}

.few-words .p{
    font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}


@media (max-width:900px){
    .image-banner{
        margin-top: -100px;
    }

    .p{
        font-size: 5vm;
      }
  }
